myTraining/Python/NYTaxiFarePredictionWithNN/.ipynb_checkpoints/NYTaxiFarePredictionWithNN-checkpoint.ipynb
myTraining/Python/MarketingEngagementClassification/.ipynb_checkpoints/MarketingEngagementClass-checkpoint.ipynb
myTraining/Python/factors-affecting-campus-placement/.ipynb_checkpoints/Untitled-checkpoint.ipynb
myTraining/Python/factors-affecting-campus-placement/.ipynb_checkpoints/
myProjects/factors-affecting-campus-placement/.ipynb_checkpoints/factors-affecting-campus-placement-checkpoint.ipynb
